@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Condensed', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: white;
	/*background-color: black;*/
}
ol, ul {
	list-style: disc inside none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear_all {
	clear: both;
}

a {
	background-color: transparent;
	background-position: initial initial;
	background-repeat: initial initial;
	/*font-size: 100%;*/
	margin: 0;
	padding: 0;
	color: #222;
	text-decoration: none;
	vertical-align: baseline;
}

a:hover {
	color: #555;
	text-decoration: none;
}

a:visited {
	color: #777;
	text-decoration: none;
}

h1 {
	font-size: 6vmin;
}

h2 {
	font-size: 3vmin;
}

h3 {
	font-size: 2vmin;
}
h4 {
	font-size: 1.5vmin;
}

/* end reset */

.left {
	float: left;
	width: auto;
}
.right {
	float: right;
	width: auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.clear {
	clear: both;
	height: 1px;
	margin: 0 0 -1px;
	width: 100%;
}

.hidden {
	display: none;
	opacity:0;
}

.visible {
	display: block;
	opacity:1;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.centered {
	/*background-color: #fff;*/
	/*border-radius: 5px;*/
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid white;*/
	/*min-width:90%;*/
	/*max-height: 100%;*/
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index:-1;
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.animate {
	position: absolute !important;
	opacity:0;
	/*transform: translate(-50%, -50%);*/
	/*transform: translate(0, 50%);*/
	/*!*transform: translate(50%, 50%);*!*/
}

.ani {
	position: absolute;
	transform: translate(-50%, 0%);
}

#nimaiOverlay {
	z-index: 5000;
	height:100%;
	width:100%;
	position: fixed;
	opacity: 0.98;
}

.dark {
	background-color: black;
}

.light {
	background-color: white;
}

/*========= CUSTOMS ===========*/

.nimaiContainer {
	color: #222;
	font-style: normal;
	font-weight: 500;
	/*height: 100%;*/
	/*left: 0;*/
	/*overflow: hidden;*/
	text-align: center;
	/*text-transform: uppercase;*/
	/*top: 0;*/
	/*width: 100%;*/
	/*max-height: 820px;*/
	filter: alpha(opacity=0);
	opacity: 1;
}

#AllGlories {
	font-size: 2.2vmin;
	padding: 5px;
	z-index: 7000;
	white-space: nowrap;
}

#AllGlories a:hover {
	color: #000;
}

#nimaiHeader {
	/*margin-bottom: 5px;*/
	/*margin-top: 5px;*/
	left:50%;
	padding: 5px;
	/*position: absolute;*/
	/*transform: translate(-50%, 0%);*/
}

#nimaiFooter {
	/*position: absolute;*/
    /*bottom:5px;*/
    /*margin-top:5px;*/
	left:50%;
	padding: 5px;
	/*position: absolute;*/
	/*transform: translate(-50%, 0%);*/
	/*margin-bottom:10px;*/
}
#nimaiFooterCredits{
	margin-top:5px;
	margin-bottom:5px;
}

.nimaiFooterCredit {
	font-size: 2.2vmin;
	padding-bottom: 5px;
	white-space: nowrap;
}

.nimaiFooterCredit a:hover {
	color: #000;
}


.nimai_webart_tag {
	padding-bottom: 10px;
}

#nimEye {
	position: absolute;
	z-index: 500;
	left:0;
	top:0;
	/*height:100px;*/
	width:200px;
}

#sasaMessage {
	color: #10247e;
	font-size: 6vmin;
	/*opacity: 0.8;*/
	/*z-index: 5100;*/
	padding: 5px;
	width:auto;
	white-space: nowrap;
}

#sasaMsg {
	color: #10247e;
	font-size: 6vmin;
	/*opacity: 0.8;*/
	/*z-index: 5100;*/
	padding: 5px;
	width:auto;
}

#ytSection {
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width: 70%
}

#storePromo {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.sasaBack {
	background: url(../images/bg/SasaRA_BG_Photo_1.png) no-repeat;
}

.sasaLogo {
	padding: 5px;
	height: 122px;
	width: 200px;
	background-image: url(../images/SasaRA_Logo.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.sasaLogoIntro {
	padding: 5px;
	height: 122px; !important;
	width: 200px; !important;
	background-image: url(../images/SasaRA_Logo.svg); !important;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

#sasaBgImage {
	/* Set rules to fill background */
	min-height: 100%;
	/*min-width: 1024px;*/
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}

.shadow {
	-webkit-filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.4) );
	filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.4) ); /* Same syntax as box-shadow, except
                                                       for the spread property */
}

/*====================================*/
/*FULL BACKGROUND SLIDE SHOW*/
/*====================================*/


#slideshow{
	height: 100vh;
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	z-index: -1;
}

.slide{
	position: absolute;
	width: 670px;
	height: 420px;
	top: 42px;
	left: 116px;
	overflow: hidden;
}
.bg-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
	transform: scale(1.1);

}
.bg-active {
	transform: scale(1);
	opacity:0.5;
}

/*#slideshow .bg-image  {*/
/*opacity:0.5;*/
/*}*/

/*=======================*/

@media screen and (min-width: 200px) and (max-width: 399px) {
	.sasaLogo {
		height: 20px;
		width: 200px;
		padding: 5px;
		/*background-image: url(../images/SasaRA_Logo_200x122.png);*/
		background-image: url(../images/Sasa.svg);
		background-repeat: no-repeat;
		background-position: center;
		margin-left: auto;
		margin-right: auto;

	}
	#sasaMessage {
		font-size: 8vmin;
	}

	#sasaMsg {
		font-size: 8.5vmin;
	}
	/*.twitterBG {*/
		/*font-size: 7vmin;*/
		/*opacity: 0.15;*/
		/*z-index: 10;*/
	/*}*/

	#nimaiFooter {
		/*position: relative !important;*/
		bottom:5px;
		margin-top:5px;
		left:50%;
		/*position: absolute;*/
		/*transform: translate(-50%, 0%);*/
		/*margin-bottom:10px;*/
	}
	.nimaiFooterCredit {
		font-size: 3vmin;
		padding: 5px;
	}
}

@media screen and (min-width: 400px)  and (max-width: 800px) {
	.sasaLogo {
		height: 122px;
		width: 200px;
		/*position: absolute;*/
		background-image: url(../images/SasaRA_Logo.svg);
		/*background-image: url(../images/SasaRA_Logo_200x122.png);*/
		background-repeat: no-repeat;
		background-position: center;
		margin-left: auto;
		margin-right: auto;
	}
	#sasaMessage {
		font-size: 6vmin;
	}
	#sasaMsg {
		font-size: 6.5vmin;
	}

	.nimaiFooterCredit {
		font-size: 2vmin;
		padding-bottom: 5px;
	}
}

#mainStage {
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*height:400px;*/
	width:100%;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
	/*min-height:520px !important;*/
}

.specialMessage {
	padding-bottom: 5px;
}


#heartcoreLogo {
	height: 88px;
	width: 160px;
	padding: 5px;
	background-image: url(../images/HeartcoreMusic.svg);
	/*background-image: url(../images/HeartCore_Media_160x88.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.revMailingList {
	padding: 0;
	position: relative;
	opacity: 0.75;
}

.revMailingList:hover {
	opacity: 0.90;
}


@media screen and (min-width: 200px) and (max-width: 399px) {
	.mainContainer {
		margin: 10px;
		width: 95%
	}
}

@media screen and (min-width: 400px) and (max-width: 799px) {
	.mainContainer {
		width:95%;
		margin: 10px 8%;

	}
}

@media screen and (min-width: 800px) {
	.mainContainer {
		width: 90%
		margin: 10px 12%;
	}
}


/*========= MODERNIZED SOCIAL MENU ===========*/

.socialLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;           /* Clean spacing between squares */
    margin: 20px auto;
    width: 480px;       /* Desktop: Fits 10 icons (40px + gap) in one line */
    transition: width 0.3s ease;
}

.link {
    display: flex;
    width: 40px;
    height: 40px;
    border: 3px solid #c6c6c6;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ensures border stays inside the 40px */
    transition: all 0.25s ease;
    text-decoration: none;
    cursor: pointer;
}

/* The Icon Style */
.link i {
    color: #c6c6c6;
    font-size: 18px;    /* Sized to look balanced in a 40px square */
    transition: color 0.25s ease;
}

/* Rollover: Invert Effect */
.link:hover {
    background-color: #c6c6c6;
}

.link:hover i {
    color: #000000;      /* Icon turns black on the grey background */
}

/* The 5/5 Split for Mobile/Smaller Screens */
@media screen and (max-width: 600px) {
    .socialLogos {
        width: 240px;    /* Forces exactly 5 icons per row */
        gap: 8px;
    }
    #AllGlories {
        font-size: 2.7vmin;
        padding: 5px;
    }

    .sasaFooterCredit {
        font-size: 2.7vmin;
    }
}

/* Cleanup: Removing the old tooltip "pop" for a smooth fade */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    pointer-events: none; /* Prevents tooltip from flickering */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*========= OLD SOCIAL LOGOS ===========*/

/*
.socialLogos {
	position: relative;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 601px) {
	.socialLogos {
		padding: 10px;
		width: 550px;
	}
}

@media screen and (min-width: 200px) and (max-width: 600px) {
	.socialLogos {
		padding: 5px;
		width: 240px;
	}

	#AllGlories {
		font-size: 2.7vmin;
		padding: 5px;
	}

	.sasaFooterCredit {
		font-size: 3vmin;
	}
}

.link {
	background-position: 50% 0;
	cursor: pointer;
	display: inline-block;
	height: 39px;
	margin: 2px 4px;
	width: 39px;
	!*box-shadow: 2px 2px 1px #888888;*!
	opacity: 1;
}

.link:hover {
	background-position: 50% 100%;
}

.link.soundcloud {background-image: url(../images/links/icon_soundcloud.png);}

.link.paypal {background-image: url(../images/links/icon_paypal.png);}

.link.telegram {background-image: url(../images/links/icon_telegram.png);}

.link.bitchute {background-image: url(../images/links/icon_bitchute.png);}

.link.minds {background-image: url(../images/links/icon_minds.png);}

.link.steem {background-image: url(../images/links/icon_steem.png);}

.link.patreon {background-image: url(../images/links/icon_patreon.png);}

.link.parler {background-image: url(../images/links/icon_parler.svg);}

.link.reverbnation {background-image: url(../images/links/icon_reverbnation.png);}

.link.facebook {background-image: url(../images/links/icon_facebook.png);}

.link.plus {background-image: url(../images/links/icon_plus.png);}

.link.tumblr {background-image: url(../images/links/icon_tumblr.png);}

.link.twitter {background-image: url(../images/links/icon_twitter.png);}

.link.x {background-image: url(../images/links/icon_x.png);}

.link.youtube {background-image: url(../images/links/icon_youtube.png);}

.link.grooveshark {background-image: url(../images/links/icon_grooveshark.png);}

.link.instagram {background-image: url(../images/links/icon_instagram.png);}

.link.myspace {background-image: url(../images/links/icon_myspace.png);}

.link.pinterest {background-image: url(../images/links/icon_pinterest.png);}

.link.mail {background-image: url(../images/links/icon_mail.png);}

.link.github {background-image: url(../images/links/icon_github.png);}

.link.linkedin {background-image: url(../images/links/icon_linkedin.png);}

.link.codepen {background-image: url(../images/links/icon_codepen.png);}

.link.medium {background-image: url(../images/links/icon_medium.png);}


!*============== OLD TOOL TIP ==============*!

.tooltip {
	position: relative;
	display: inline-block;
	!*border-bottom: 1px dotted black;*!
}

.tooltip .tooltiptext {
	visibility: hidden;
	!*width: auto;*!
	width: 80px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -49px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 2.0vmin;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
*/

/*============== CAPTCHA ==============*/

.ra_recaptcha {
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}

/*================================IMAGES================================*/

.bg {
	background-color: #FFFFFF;
	background-position: initial initial;
	background-repeat: initial initial;
	height: 200%;
	left: -50%;
	position: fixed;
	top: -50%;
	width: 200%;
	z-index: -20;
}


.scSlideBG {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 100px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	/*position: fixed;*/
	top: 0;
	left: 0;
	/*z-index: -1;*/
	opacity: 1;
}

/* ===================== SC SWIPER ====================== */

.soundcloudPlayer {
	padding: 5px;
	/*position: relative;*/
	opacity: 0.90;

}

.soundcloudPlayer iframe {
	padding: 5px;
	/*position: relative;*/
	opacity: 0.90;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.soundcloudPlayer:hover {
	opacity: 1.0;
}

#scSwiper .swiperContainer {
	/*height:400px;*/
	/*width:100%;*/
}
#scSwiperWrapper {
	/*height:400px;*/
}

#scSwiperWrapper .swiper-slide {
	/*background-color: sienna;*/
	/*padding: 20px;*/
}


.scTrkWrap {
	/*position: relative;*/
	text-align: center;
	border: 2px solid #DEDEDE;
}

.scTrkTitle {
	/*position: absolute;*/
	/*left:5px;*/
	/*top:5px;*/
	font-size: 2em;
	padding:5px;
}

/*=================================*/


.song-wrapper {
	color: #3D3D3D;
}

.song-slide {
	background-color: #EBEBEA;
	color: #3D3D3D;
	padding: 30px;
	filter: alpha(opacity=20); /* IE */
	-moz-opacity: 0.2; /* Mozilla */
	opacity: 0.2; /* CSS3 */
}

.swiper-container-bg {

	/*background-color: #EBEBEA;*/
	width: 100%;
	height: 170px;
	margin: 10px 0px;
	filter: alpha(opacity=20); /* IE */
	-moz-opacity: 0.2; /* Mozilla */
	opacity: 0.2; /* CSS3 */
}
.swiper-slide {

	float: left;
	/*width: 80%;*/
	/*height: 100%;*/
	/* Specify Slides's Size: */

	/*width: 100%;
	 height: 100%;*/
	/*opacity: 0.7;*/
}

.swiper-slide:hover {
	/*opacity: 1;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */

}
.swiper-slide-visible {
	/* Specific visible slide styling: */

}

